.container {
    display: flex;
    padding: 40px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    align-self: stretch;
    color: var(--white);
}