header {
    display: flex;
    padding: 25px;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.outer-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

.inner-container {
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    align-self: stretch;
}

.welcome-text {
    /* height: 100%; */
    margin: auto;
}

@media screen and (min-width: 640px) {
    .inner-container {
        flex-direction: row;
    }
}