@import url('../src/styles/fonts.css');

:root {
  --primary: #E1B03B;
  --white: #F2F2F2;
  --grey: #404040;
  --dark-grey: #262626;
  --black: #0D0D0D;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.App {
  background-color: #262626;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
}

.body {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.experience-container {
  min-width: 340px;
  width: 80%;
  padding: 0 32px;
}

.welcome-container {
  display: flex;
  padding: 200px 20px;
  height: 100vh;
}

h1 {
  font-family: "Barlow-Medium";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  color: #F2F2F2;
}

h2 {
  font-family: "Barlow-Medium";
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  height: 100%;
  color: #F2F2F2;
  display: flex;
}

h3 {
  font-family: "Barlow-Medium";
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  text-align: start;
  font-weight: 500;
  /* height: 100%; */
  color: var(--white);
  display: flex;
}

hr {
  background-color: #E1B03B;
  border-color: #E1B03B;
  border: none;
  border-radius: 2px;
  height: 2px;
  width: 120px;
  list-style: none;
}

p {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  line-height: normal;
}

.skills-text {
  width: 80%;
  color: var(--white);
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  max-width: 400px;
  text-align: center;
}

.experience-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.experience-group h3 {
  color: var(--white);
}